/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "libertinus Sans";
    src: url(fuentes/LibertinusSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "libertinus Sans Italic";
    src: url(fuentes/LibertinusSans-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BricolageGrotesque Bold";
    src: url(fuentes/BricolageGrotesque_24pt_Condensed-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url(fuentes/FiraSans-Light.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;
}

* {
    text-align: center;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #fffb95;
}


/*aca empieza las aplicaciones*/

h1 {
    font-family: 'BricolageGrotesque Bold', sans-serif;
    color: rgb(83, 129, 255);
    font-size: 3.2rem;
    /*line-height: 1rem;*/
    text-align: center;
}

h2 {
    font-family: 'Libertinus Sans Italic', sans-serif;
    color: rgb(255, 170, 58);
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

h3,
h4 {
    font-family: 'libertinus Sans', sans-serif;
    color: rgb(83, 129, 255);
    text-align: center;
    font-size: 29px;
    font-size: 29px;
    text-align: center;
}

h5 {
    font-family: 'FiraSans', sans-serif;
    font-size: 15px;
}

p,
li {
    font-family: 'FiraSans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    text-wrap-style: balance;
}

ul {
    list-style: none;
    text-wrap-style: balance;
}

#hero {
    background-image: url(img/hero-fondo-.jpg);
    background-position: initial;
    background-size: cover
}

#presentación {
    background-image: url(img/patron.png);
    background-size: 100px;
}

#frase {
    font-family: 'libertinus Sans Italic', sans-serif;
    font-size: 38px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #ffa62b, transparent);
}